<h1>Our brilliant employees</h1>

<ul>
  <% @employees.each do |employee| %>
    <li>
    <%= employee.full_name %> (<%= employee.gender %>)<br>
    <%= mail_to employee.email %><br>
    <b>Salary</b>: <%= employee.salary %>
    </li>
  <% end %>
</ul>