%h1
  This is my Home Page
.alert.alert-warning.alert-dismissible.fade.show{:role => "alert"}
  %strong Holy guacamole!
  You should check in on some of those fields below.
  %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
= image_pack_tag('media/images/deqode.png')
%h4 My page
