
<h1>Listing Posts</h1>

<div>

  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <tr>
  <% @posts.each do |post| %>
    <h4> 
    <div>
      <td><%= post.title%></td>
      <td><%= post.description %></td>
    </div>
    </h4>
  <% end %>
  </tr>

</div>